<a id="projects{{id}}" href="/projects/{{id}}">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2>{{title}}</h2>
      </div>
      <div class="col-sm">
        <h2>Posted by {{user.username}} on {{format_time createdAt}}</h2>
      </div>
    </div>
  </div>
  <div class="col-sm">
      <p>{{description}}</p>
  </div>
</a>
    